@font-face {
  font-family: "DejaVu Sans";
  font-display: swap;
  font-style: normal;
  src: url("/font/DejaVuSans_subset.woff2") format("woff2");
  unicode-range: U+2588-2593,U+2022,U+23F1,U+25B6,U+200a;
}

:root { 
    --light-fg: black;
    --light-bg: white;
    --light-border: gray;
    --light-tborder: gray;
    --light-link: blue;
    --light-blue: #0000b3;
    --light-red: #A22020;
    --light-orange: chocolate;
    --light-green: green;
    --light-loaded: #00d100;
    --light-gray: gray;
    --light-bar-spec: #00007f;
    --light-bar-bot: #aa007f;
    --light-td-bg: #ffc1c1;
    --light-lightgray: lightgray;
    --dark-fg: #fffffe;
    --dark-bg: #212324;
    --dark-border: #847b6d;
    --dark-tborder: rgb(98, 106, 109);
    --dark-link: #3ea5ff;
    --dark-blue: rgb(62, 143, 255);
    --dark-red: rgb(255, 35, 35);
    --dark-orange: rgb(255, 196, 35);
    --dark-green: rgb(131, 255, 131);
    --dark-loaded: rgb(6, 118, 6);
    --dark-gray: rgb(172, 163, 147);
    --dark-bar-spec: rgb(146, 196, 255);
    --dark-bar-bot: rgb(255, 99, 238);
    --dark-td-bg: rgb(103, 6, 6);
    --dark-lightgray: rgb(60, 64, 66);
}

@media (prefers-color-scheme: light) {
    :root {
        --fg: var(--light-fg);
        --bg: var(--light-bg);
        --border: var(--light-border);
        --tborder: var(--light-tborder);
        --blue: var(--light-blue);
        --red: var(--light-red);
        --orange: var(--light-orange);
        --green: var(--light-green);
        --loaded: var(--light-loaded);
        --gray: var(--light-gray);
        --bar-spec: var(--light-bar-spec);
        --bar-bot: var(--light-bar-bot);
        --td-bg: var(--light-td-bg);
        --lightgray: var(--light-lightgray);
        --link: var(--light-link);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: var(--dark-fg);
        --bg: var(--dark-bg);
        --border: var(--dark-border);
        --tborder: var(--dark-tborder);
        --blue: var(--dark-blue);
        --red: var(--dark-red);
        --orange: var(--dark-orange);
        --green: var(--dark-green);
        --loaded: var(--dark-loaded);
        --gray: var(--dark-gray);
        --bar-spec: var(--dark-bar-spec);
        --bar-bot: var(--dark-bar-bot);
        --td-bg: var(--dark-td-bg);
        --lightgray: var(--dark-lightgray);
        --link: var(--dark-link);
    }
}

:root[data-theme="light"] {
        --fg: var(--light-fg);
        --bg: var(--light-bg);
        --border: var(--light-border);
        --tborder: var(--light-tborder);
        --blue: var(--light-blue);
        --red: var(--light-red);
        --orange: var(--light-orange);
        --green: var(--light-green);
        --loaded: var(--light-loaded);
        --gray: var(--light-gray);
        --bar-spec: var(--light-bar-spec);
        --bar-bot: var(--light-bar-bot);
        --td-bg: var(--light-td-bg);
        --lightgray: var(--light-lightgray);
        --link: var(--light-link);
}

:root[data-theme="dark"] {
        --fg: var(--dark-fg);
        --bg: var(--dark-bg);
        --border: var(--dark-border);
        --tborder: var(--dark-tborder);
        --blue: var(--dark-blue);
        --red: var(--dark-red);
        --orange: var(--dark-orange);
        --green: var(--dark-green);
        --loaded: var(--dark-loaded);
        --gray: var(--dark-gray);
        --bar-spec: var(--dark-bar-spec);
        --bar-bot: var(--dark-bar-bot);
        --td-bg: var(--dark-td-bg);
        --lightgray: var(--dark-lightgray);
        --link: var(--dark-link);
}


a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html, body, input, textarea, select, button {
    background-color: var(--bg);
    border-color: var(--border);
    color: var(--fg);
}

body {
    background-color: var(--test);
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: auto;
}

.small {
    font-size: x-small;
}

td, th {
    border: 1px solid var(--tborder);
    padding: 0.3em;
}

.right {
    text-align: right;
}

.none {
    font-style: italic;
    text-align: center;
}

.wrap {
    overflow-wrap: anywhere;
    word-break: break-word;
}

.b {
    font-weight: bold;
}

.blue {
    color: var(--blue);
}

.green {
    color: var(--green);
}

.gray {
    color: var(--gray);
}

.orange {
    color: var(--orange);
}

.red {
    color: var(--red);
}

.col1 {
  float: left;
  width: 85%;
}

.col2 {
  float: right;
  margin-right: 1em;
  width: 10%;
}

.stack {
    float: left;
}

.pad {
    float: inherit;
    padding-right: 1em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.narrow {
    width: 9.8em;
}

.txtflag {
    font-size: small;
}

.hdr {
    margin-top: 0.5em;
}

.playerbar {
    font-family: "DejaVu Sans";
    font-size: large;
    line-height: 1.25;
}

.bp {
    color: var(--green);
}

.nb {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.bs {
    color: var(--bar-spec); 
}

.bb {
    color: var(--bar-bot);
}

td.full {
    background-color: var(--td-bg);
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

button.all {
    font-weight: 900;
}

button {
    font-weight: bold;
}

button.loading {
    background-color: var(--orange);
}

button.loaded {
    background-color: var(--loaded);
}

button.disabled {
    background-color: var(--lightgray);
}

button a:link { 
    color: inherit;
    text-decoration: none; 
}
button a:visited {
    color: inherit;
    text-decoration: none; 
}
button a:hover { 
    color: inherit;
    text-decoration: none; 
}
button a:active { 
    color: inherit;
    text-decoration: none; 
}

label {
    vertical-align: middle;
    padding-right: 0.5em;
}

#list {
    margin-top: 1em;
}

.status {
    font-family: "DejaVu Sans";
    font-size: x-large;
}

.dj {
    font-family: "DejaVu Sans";
}
